html 
    head
        link(href='css/style.min.css')
    body
        include html/header
        main.page
            h1 Hello1!
            img(src="@img/helpbox-contact.jpg")
        include html/footer
        script(src='js/app.min.js')